<md-toolbar layout="row">
    <span ng-include="'view/menu.html'"></span>
    <h1 class="md-title">{{project.name}}</h1>
    <span flex></span>    
    <ng-md-icon icon="alarm" ng-click="$navigation.board_overdue(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="history" ng-click="$navigation.board_activity(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="open_in_browser" ng-click="$navigation.extern_url(project.url.board)"></ng-md-icon>
</md-toolbar>

<div>
  <md-content class="md-padding" md-swipe-left="nextColumn()" md-swipe-right="previousColumn()">
    <md-tabs md-dynamic-height md-selected="selectedIndex" md-no-pagination="false">

      <md-tab ng-repeat="column in columns" label="{{column.title}}">

        <md-content class="md-padding">
          <div ng-hide="column.tasks.length > 0" class="warning">
            {{ 'no_task_in_column' | translate }} "{{column.title}}"
          </div>
          <span ng-repeat="task in column.tasks" ng-include="'view/task_box.html'">

          </span>
        </md-content>

      </md-tab>

    </md-tabs>
  </md-content>
</div>