<md-toolbar layout="row"><span ng-include="'view/menu.html'"></span>
    <h1 class="md-title">{{ 'overdue' | translate }}: {{project.name}}</h1>
    <span flex></span>    
    <ng-md-icon icon="history" ng-click="$navigation.board_activity(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="view_module" ng-click="$navigation.board(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="open_in_browser" ng-click="$navigation.extern_url(project.url.board)"></ng-md-icon>
</md-toolbar>
<div>
    <div ng-hide="tasks.length > 0" class="info">
        {{ 'no_overdue' | translate }}
    </div>

    <span ng-repeat="task in tasks" ng-include="'view/task_box.html'">
  </div>