<md-toolbar layout="row">
    <span ng-include="'view/menu.html'"></span>
    <h1 class="md-title">{{ 'activities' | translate }}: {{project.name}}</h1>
    <span flex></span>    
    <ng-md-icon icon="alarm" ng-click="$navigation.board_overdue(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="view_module" ng-click="$navigation.board(api_id,project.id)"></ng-md-icon>
    <ng-md-icon icon="open_in_browser" ng-click="$navigation.extern_url(project.url.board)"></ng-md-icon>
</md-toolbar>

<div>
  <md-list>
  <md-list-item class="md-3-line" ng-repeat="activity in activities">
    <ng-md-icon icon="history" class="md-avatar"></ng-md-icon>
    <div class="md-list-item-text">
      <!--<h3>{{activity.event_title}}</h3>-->
      <div ng-bind-html="activity.event_content_removed"></div>
    </div>
    <!--<md-button class="md-fab md-mini md-primary" ng-click="$navigation.board(api_id, activity.project_id)">
      <ng-md-icon icon="explore"></ng-md-icon>
    </md-button>-->
  </md-list-item> 
  <md-list>
</div>