<md-toolbar layout="row"><span ng-include="'view/menu.html'"></span>
  <h1 class="md-title">{{ 'projects' | translate }}</h1>
</md-toolbar>

<md-input-container flex>
  <label>{{ 'search' | translate }}</label>
  <input ng-model="projectList.search">
</md-input-container>

<md-list>
  <md-subheader class="md-no-sticky" ng-repeat-start="ep in endpoints track by $index">{{ep.name}}</md-subheader>
  <div ng-hide="ep.projects.length > 0" class="warning">{{ 'cant_access_api' | translate }}</div>
  <md-list-item ng-repeat-end class="md-2-line" ng-repeat="project in ep.projects | filter:projectList.search | orderBy:'name'">
    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
    <ng-md-icon icon="view_module" class="md-avatar" ng-click="$navigation.board(ep.id,project.id)"></ng-md-icon>
    <div class="md-list-item-text" ng-click="$navigation.board(ep.id,project.id)">
      <h3>{{project.name}}</h3>
      <p>{{project.description}}</p>
    </div>
    <!--<md-button class="md-fab  md-mini md-primary" ng-href="#/{{ep.id}}/board/show/{{project.id}}">
      <ng-md-icon icon="explore"></ng-md-icon>
    </md-button>-->
    <md-button class="md-fab  md-mini md-primary" aria-label="{{ 'overdue' | translate }}" ng-click="$navigation.board_overdue(ep.id,project.id)">
      <ng-md-icon icon="alarm"></ng-md-icon>
    </md-button>
    <md-button class="md-fab  md-mini md-primary" aria-label="{{ 'activities' | translate }}" ng-click="$navigation.board_activity(ep.id,project.id)">
      <ng-md-icon icon="history"></ng-md-icon>
    </md-button>
    <md-button class="md-fab  md-mini md-primary" aria-label="{{ 'browser' | translate }}" ng-click="$navigation.extern_url(project.url.board)">
      <ng-md-icon icon="open_in_browser"></ng-md-icon>
    </md-button>    
  </md-list-item>
  <md-list>
