<md-toolbar layout="row"><span ng-include="'view/menu.html'"></span>
  <h1 class="md-title">
    <span ng-hide="!edit">{{ 'edit endpoint' | translate }}</span>
    <span ng-hide="edit">{{ 'add endpoint' | translate }}</span> 
  </h1>
</md-toolbar>

<form name="epform">
<md-input-container class="md-block">
  <label>{{ 'name' | translate }}</label>
  <input ng-model="endpoint.name" required>
</md-input-container>
<md-input-container  class="md-block">
  <label>{{ 'url' | translate }}</label>
  <input type="url" ng-model="endpoint.url" required>
</md-input-container>
<md-input-container  class="md-block">
  <label>{{ 'user' | translate }}</label>
  <input ng-model="endpoint.user" required>
</md-input-container>
<md-input-container class="md-block">
  <label>{{ 'token' | translate }}</label>
  <input type="password" ng-model="endpoint.token">
</md-input-container>

<md-button ng-click="$navigation.settings()">{{ 'cancel' | translate }}</md-button>
<md-button ng-disabled="epform.$invalid" class="md-raised" ng-click="save()">{{ 'save' | translate }}</md-button>

</form>