<md-toolbar layout="row"><span ng-include="'view/menu.html'"></span>
  <h1 class="md-title">Settings</h1>
  <span flex></span>
  <md-button class="" ng-click="$navigation.settings_endpoint(-1)">
      <ng-md-icon icon="add_circle"></ng-md-icon> add
    </md-button>
</md-toolbar>

<md-list>
  <md-subheader class="md-no-sticky">Endpoints</md-subheader>


  <md-list-item class="md-3-line" ng-repeat="endpoint in endpoints">
    <ng-md-icon icon="settings_remote" class="md-avatar"></ng-md-icon>
    <div class="md-list-item-text">
      <h3>{{endpoint.name}}</h3>
      <p>{{endpoint.url}}</p>
    </div>
    <md-button class="md-fab md-mini md-primary" ng-click="$navigation.settings_endpoint(endpoint.id)">
      <ng-md-icon icon="mode_edit"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-primary" ng-click="showDeleteConfirm($event,endpoint)">
      <ng-md-icon icon="delete"></ng-md-icon>
    </md-button>
  </md-list-item>


  <md-divider></md-divider>
  <md-list>
