<md-card>
  <md-card-content ><!--ng-click="$navigation.task(api_id,task.id)">-->
  
   <md-card-title>
          <md-card-title-text>
            <span class="md-subhead"><span class="task_id">#{{task.id}}</span> <span class="task_title">{{task.title}}</span></span>
          </md-card-title-text>
        </md-card-title>
    
    <p>
      {{task.description}}
    </p>
    <md-chips>
      <md-chip ng-hide="task.assignee_name == '' || task.assignee_name === null">
        <ng-md-icon icon="account_circle"></ng-md-icon>{{task.assignee_name}}</md-chip>
      <md-chip ng-hide="task.date_due < 1">
        <ng-md-icon icon="access_alarm"></ng-md-icon>{{task.date_due * 1000 | date:'MM-dd-yyyy'}}</md-chip>
      
      <md-chip ng-hide="task.category_name == null">
        <ng-md-icon icon="class"></ng-md-icon>{{task.category_name}}</md-chip>
      <md-chip ng-hide="task.nb_files < 1 || task.nb_files == undefined">
        <ng-md-icon icon="attach_file"></ng-md-icon>{{task.nb_files}}</md-chip>
      <md-chip ng-hide="task.nb_comments < 1 || task.nb_files == undefined">
        <ng-md-icon icon="insert_comment"></ng-md-icon>{{task.nb_comments}}</md-chip>
      <md-chip ng-hide="task.nb_links < 1 || task.nb_files == undefined">
        <ng-md-icon icon="link"></ng-md-icon>{{task.nb_links}}</md-chip>
      <md-chip ng-hide="task.nb_subtasks < 1 || task.nb_files == undefined">
        <ng-md-icon icon="check_box"></ng-md-icon>{{task.nb_completed_subtasks}}/{{task.nb_subtasks}}</md-chip>
    </md-chips>
  </md-card-content>
</md-card>