table {
	width: 400px;
    font-family: Georgia, serif, Times;
    font-size: 18px;
 }
a {
    text-decoration: none;
    color: black;
 }
a.add {
    /*text-decoration: underline;*/
	font-size: 12px;
 }
table tr.endpoint{
  text-decoration: underline;
}
table tr:hover:not(.endpoint):not(.nohover){
    background-color: lightgrey;
}