 ul {
    list-style: none;
 }
 ul li {
	display: block;
	width: 400px;	 
    font-family: Georgia, serif, Times;
    font-size: 18px;
 }
 ul li a {     	 
    text-decoration: none;
 }
  ul li a.add {     	 
    /*text-decoration: underline;*/
	font-size: 12px;
 }
 /*ul li a:hover.display {
    text-decoration: underline;
    background-color: lightgrey;
 }*/